@import url(http://fonts.googleapis.com/css?family=Belleza);

text {
    font-family: 'Belleza';
    text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
}

rect {
    stroke: #005500;
}

ellipse {
    stroke: #555555;
}

background-color: #EEEEEE;
